@model IEnumerable<TesteJSL.Models.PedidoItens>

<div class="form-horizontal">
    <h4>Itens</h4>
    <hr />
    <div class="form-group">
        <label class="control-label com-md-2">Produto</label>
        <div class="col-md-10">
            <input type="text" id="Produto" name="Produto" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label com-md-2">Quantidade</label>
        <div class="col-md-10">
            <input type="text" id="Quantidade" name="Quantidade" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label com-md-2">Vlr Unitario</label>
        <div class="col-md-10">
            <input type="text" id="ValorProduto" name="ValorProduto" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label com-md-2">Valor Total</label>
        <div class="col-md-10">
            <input type="text" id="ValorTotal" name="ValorTotal" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="#" onclick="GravarItens();">Gravar Itens</a>
        </div>
    </div>
</div>

<input type="hidden" id="PedidoId" value="@ViewBag.PedidoId" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PedidoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
